* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    overflow: hidden;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    z-index: 2;
}

.header h1 {
    font-size: 2rem;
}

.main-content {
    padding: 20px;
}

.info h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #FF7E5F;
}

.link {
    display: block;
    color: #303030;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 15px 0;
    padding: 10px;
    border-radius: 8px;
    background: #f3f3f3;
    transition: background 0.3s, color 0.3s;
}

.link:hover {
    background: #feb47b;
    color: white;
}

.discord-button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background: #5865F2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.discord-button:hover {
    background-color: #4752c4;
    transform: scale(1.05);
}

.footer {
    margin-top: 20px;
    font-size: 0.9rem;
}

#colorOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 2s ease;
    z-index: 1;
}